.justify-content-center {
    margin-top: 50px;
    margin-right: 0px !important;
}

#create {
    margin: 10px;
}

#authorsTable_filter {
    margin: 10px;
}

.action-buttons{
    display: flex;
    justify-content: center;
    gap: 10px;
}
#authorsTable th,
#authorsTable td{
    text-align: center;
}